/* src/components/ProjectCard.css */
.project-card-link {
    text-decoration: none;
    color: inherit;
  }
/*   
  .project-card-link:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
  } */
  

.project-card {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 4px 4px 8px rgb(0, 0, 0); /* Add a shadow effect */
  transition: transform 0.3s ease; 
  background-color: #4d4d4d;
  padding: 10px;
  display: flex;
  flex-direction: row;
  width: 450px;
  height: 250px;
}

.project-card:hover {
  transform: translateY(-8px); /* Add a slight lift on hover */
}

.project-image {
  width: 240px;
  height: auto; /* Adjust the height as needed */
  margin-bottom: 10px;
  padding-right: 20px;
  object-fit: cover ;
}

.project-skills {
  margin-top: 8px;
  color: #555;
}

.project-info h3 {
  margin-bottom: 8px;
  color: #ffffff;
}

.project-info p {
  margin-bottom: 16px;
  color: #ffffff;
}

/* .project-info a {
  color: #3498db;
  text-decoration: none;
  font-weight: bold;
}

.project-info a:hover {
  text-decoration: underline;
} */

.skill-images {
  display: flex;
  gap: 8px;
  margin-top: 8px;
}

.skill-image {
  width: 32px; /* Adjust the size of the skill images */
  height: 32px;
  object-fit: contain;
  border-radius: 10px;
}